{% extends 'base.html.twig' %}

{% block title %}Answers index{% endblock %}

{% block body %}
    <h1>Answers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Votes</th>
                <th>Answers</th>
                <th>Attachment</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td>{{ answer.id }}</td>
                <td>{{ answer.votes }}</td>
                <td>{{ answer.answer }}</td>
                <td>
                    <a href="{{ path('answers_show', {'id': answer.id}) }}">show</a>
                    <a href="{{ path('answers_edit', {'id': answer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('answers_new') }}">Create new</a>
{% endblock %}
