{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn register_btn" style="margin: 10px 0 -100px 290px !important">{{ button_label|default('Register') }}</button>
    <a href="/login">
    <div class="btn sign_in_btn" style="margin: 10px 0 -310px 20px !important">{{ button_label|default('Sign In') }}</div>
    </a>
{{ form_end(form) }}
